@page
@model Lucky_Charm_Event_track.Pages.EventConfirmationModel
@{
    ViewData["Title"] = "EventConfirmation";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
        <link rel="stylesheet" asp-href-include="~/css/EventForm.css" />
</head>
<body>


        <!-- Top Navbar -->
    <div class="top-navbar">
        <div class="navbar-left">
            <img src="~/Images/Green%20Classic%20Four%20Leaf%20Clover%20Geometric%20Logo.png" alt="Logo" class="logo">
        </div>
        <div class="navbar-right">
            <a class="create-btn" asp-page="/EventForm"> + Create </a>
            <button class="account-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="User Avatar" class="account-img">
                    <span class="account-name">@Model.FirstName</span>
            </button>
        </div>
    </div>

    <div class="event-form">
        <h2>Your Event Has Been Created!</h2>
        <p style="text-align:center;">Your event is now available on your dashboard.</p>

        <div class="button-container">
            <a asp-page="/Events" class="dashboard-btn">Go to Dashboard</a>
        </div>

        </div>
    </div>

</body>
</html>
