@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header class="hero-banner">
        <img src="Images/banner_image.jpeg" alt="Campus Banner" class="hero-image" />
        <div class="hero-text">
            <h1>Plan and Manage On Campus Events</h1>
            <a href="/events" class="hero-button">Register Now</a>

                <!--Admin button hidden by default -->
                <a id="adminPortalBtn"
                    asp-page="/Admin_Role&Org_Portal"
                    class="hero-button"
                    style="display:none; margin-left: 10px;">
                    Admin Portal
                </a>

        </div>
    </header>

    <section class="description-section">
        <div class="description-grid">
            <div class="description-image">
                <img src="Images/event.jpg" />
            </div>
            <div class="description-content">
                <h2 class="description-title">What Is The Lucky Charms Web App?</h2>
                <p class="description-subtext">An all an one WebApp solution allowing students to explore on Campus Activites. Acting as a hub for event organizer to promote and create their events. A seemless event management tool</p>
                <ul class="description-links">
                    <li><a href="/student-events">View our Events</a></li>
                    <li><a href="/organizer-tools">Become an Organizer</a></li>
                    <li><a href="/analytics">FAQ</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Script to show admin button if logged in as Admin -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const role = localStorage.getItem("userRole");

            if (role === "Admin") {
                document.getElementById("adminPortalBtn").style.display = "inline-block";
            }
        });
    </script>
</body>

</html>
