name: .NET CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    # Build main project
    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./Lucky_Charm_Event_track/Lucky_Charm_Event_track

    - name: Build project
      run: dotnet build --no-restore
      working-directory: ./Lucky_Charm_Event_track/Lucky_Charm_Event_track

    # Run tests from the test project folder
    - name: Run unit tests
      run: dotnet test --verbosity normal
      working-directory: ./Lucky_Charm_Event_track/Lucky_Charm_Event_track.Tests
